html, body{
    color: #747d8c;
}
p{
    color: #747d8c;
    font-size: 1.4rem;
    font-weight: 300;
}
.lm-red{
    font-family: lemonmilk; 
    color: #ff6b81;
}
.lm-blue{
    font-family: lemonmilk; 
    color: #0fbcf9;
}
.custom-list{
    list-style-type: none;
    padding: 0px;
}
.custom-list-element{
    color: #747d8c;
    padding-left: 1.3em;
    font-size: 1.1rem;
    font-weight: 300;
}
.custom-list-element::before{
    content: "▸";
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}
