html, body {
    color: #747d8c;
}

p {
    color: #747d8c;
    font-size: 1.2rem;
    font-weight: 300;
}

@media only screen and (min-width: 767px) {
    p {
        font-size: 1.4rem !important;
    }
    .p-small {
        font-size: 1.25rem !important;
    }
}

.btn-introduction {
    text-decoration: none;
    color: #747d8c !important;
}

.btn-introduction:hover {
    font-weight: 500;
}

.btn-icon {
    width: 1.1rem;
    height: 1.1rem;
}

.style-about-container {
    max-width: 40rem;
}

.p-small {
    font-size: 1.05rem;
    /* font-weight: 400; */
}