h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #222f3e;
}
p{
    font-size: 1.1rem;
    color: #222f3e;
}
li{
    font-size: 1.1rem;
    color: #222f3e;
}
.style-description{
    font-family: Arial, Helvetica, sans-serif;
    color: #747d8c; 
    font-size: 1.3rem;
}
.style-sub-category{
    color: #34ace0; 
    font-weight: 600;
}
.style-author-date{
    color: #747d8c; 
    font-size: 0.9rem;
}
.iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.code-toolbar pre{
    border-radius: 10px;
}