h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

p {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.1rem;
    color: #222f3e;
}

li:not([class="nav-item"]) {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.1rem;
    color: #222f3e;
}

.style-outer-blog-container {
    max-width: 55rem;
}

.style-inner-blog-container {
    max-width: 50rem;
}

.style-author-date {
    color: #747d8c;
    font-size: 0.9rem;
}

.iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}