h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    color: #747d8c;
}

li:not([class="nav-item"]) {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    color: #747d8c;
}

code[class*="language-"], pre[class*="language-"] {
    font-family: 'Source Code Pro', monospace !important;
}

.style-author-date {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
    color: #747d8c;
}

.iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}