h1, h2 {
    font-family: 'Gantari', sans-serif;
    font-weight: 800;
}

h3, h4, h5, h6 {
    font-family: 'Gantari', sans-serif;
    font-weight: 300;
}

p {
    font-family: 'Gantari', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #636e72;
}

li:not([class="nav-item"]) {
    font-family: 'Gantari', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #636e72;
}

code[class*="language-"], pre[class*="language-"] {
    font-family: 'Source Code Pro', monospace !important;
    border-radius: 0.8rem;
}

.style-author-date {
    font-family: 'Gantari', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    color: #636e72;
}

.iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}