h1 {
    font-weight: 600;
    color: #222f3e;
}

h2 {
    font-weight: 600;
    color: #222f3e;
}

h3 {
    font-weight: 600;
    color: #222f3e;
}

p {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.1rem;
    color: #222f3e;
}

li:not([class="nav-item"]) {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.1rem;
    color: #222f3e;
}

.style-author-date {
    font-family: Roboto-Regular;
    color: #747d8c;
    font-size: 0.9rem;
}

.iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.code-toolbar pre {
    border-radius: 10px;
}