html, body {
    height: 100%;
}

body {
    display: flex;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #636e72;
    font-size: 1rem;
}

a {
    font-family: 'Roboto', sans-serif;
}

.style-card {
    display: block;
    width: 100%;
    max-width: 550px;
}

.style-button {
    border-radius: 10px !important;
    width: 100%;
    height: 3rem;
    font-family: 'Roboto', sans-serif;
}