html, body{
    background-color: #0fbcf9;
    height: 100%;
}
body{
    display: flex;
}
.style-card {
    display: block;
    width: 100%;
    max-width: 550px;
    padding: 15px;
    margin: auto;
}
.style-contact-form-heading{
    color: #0fbcf9;
    font-family: lemonmilk;
    font-size: 2.2rem;
}
.style-button{
    border: none;
    background-color: #0fbcf9; 
    color: #ffffff;
    width: 100%;
    height: 3rem;
}