html, body {
    height: 100%;
}

body {
    display: flex;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #747d8c;
    font-size: 1rem;
}

a {
    font-family: 'Roboto', sans-serif;
    color: #0fbcf9;
}

.style-card {
    display: block;
    width: 100%;
    max-width: 550px;
}

.style-button {
    border: 0px;
    background-color: #0fbcf9;
    color: #ffffff;
    width: 100%;
    height: 3rem;
    font-family: 'Roboto', sans-serif;
}