html, body{
    background-color: #0fbcf9;
    height: 100%;
}
body{
    display: flex;
}
@media only screen and (min-width: 540px){
    .style-card{
        padding: 15px !important;
    }    
}
input{
    border: 0px !important;
    border-radius: 0% !important;
    background-color: #ecf0f1 !important;
    height: 3rem;
}
textarea{
    border: 0px !important;
    border-radius: 0% !important;
    background-color: #ecf0f1 !important;
    width: 100%;
    height: 6rem;
    padding-top: 0.65rem !important;
}
.style-card {
    display: block;
    width: 100%;
    max-width: 600px;
    padding: 0px;
    margin: auto;
}
.style-contact-form-heading{
    color: #0fbcf9;
    font-family: lemonmilk;
    font-size: 2.9rem;
}
.style-form-control-heading{ 
    color: #808e9b;
}
.style-contact-form-submit-btn{
    border: 0px !important;
    border-radius: 0% !important;
    background-color: #0fbcf9; 
    color: #ffffff;
    width: 100%;
    height: 3rem;
}
.style-contact-form-back-link{
    display: block; 
    text-decoration: none; 
    color: #808e9b;
}
.style-contact-form-back-link:hover{
    color: #ff6b81;
}