html, body {
    height: 100%;
}

body {
    display: flex;
}

p {
    color: #747d8c;
}

.style-card {
    display: block;
    width: 100%;
    max-width: 550px;
}

.style-button {
    border: 0px;
    border-radius: 10px;
    background-color: #0fbcf9;
    color: #ffffff;
    width: 100%;
    height: 3rem;
}