html, body {
    background-color: #ffffff;
}

p {
    color: #747d8c;
    font-size: 1.2rem;
    font-weight: 300;
}

input {
    border: 0px !important;
    border-radius: 10px !important;
    background-color: #ecf0f1 !important;
    height: 3rem;
}

textarea {
    border: 0px !important;
    border-radius: 10px !important;
    background-color: #ecf0f1 !important;
    width: 100%;
    height: 8rem;
    padding-top: 0.65rem !important;
}

select {
    border: 0px !important;
    border-radius: 10px !important;
    background-color: #ecf0f1 !important;
    height: 3rem;
}

.form-check-input:checked {
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}

.submit-btn {
    border: 0px !important;
    border-radius: 10px !important;
    background-color: #0fbcf9;
    color: #ffffff;
    width: 100%;
    height: 3rem;
}