html, body {
    background-color: #ffffff;
}

body {
    display: flex;
}

p {
    color: #747d8c;
    font-size: 1.2rem;
    font-weight: 300;
}

input {
    border: 0px !important;
    border-radius: 10px !important;
    background-color: #ecf0f1 !important;
    height: 3rem;
}

textarea {
    border: 0px !important;
    border-radius: 10px !important;
    background-color: #ecf0f1 !important;
    width: 100%;
    height: 6rem;
    padding-top: 0.65rem !important;
}

.style-card-link-outer {
    width: 10rem;
    height: 10rem;
}

.style-card-link {
    position: relative;
    color: #ffffff;
    border-radius: 20px;
    width: 6rem;
    height: 6rem;
}

.style-card-link-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.style-card-link-text {
    font-size: 1.5em;
    color: #808e9b;
}

.style-contact-form {
    max-width: 30rem;
}

.style-contact-form-submit-btn {
    border: 0px !important;
    border-radius: 10px !important;
    background-color: #0fbcf9;
    color: #ffffff;
    width: 100%;
    height: 3rem;
}

.style-ending-text {
    font-size: 0.70rem;
    font-weight: 400;
    color: #808e9b;
}