html, body {
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #747d8c;
    font-size: 1.2rem;
}

a {
    font-family: 'Roboto', sans-serif;
    color: #0fbcf9;
}

input {
    border: 0px !important;
    border-radius: 10px !important;
    background-color: #ecf0f1 !important;
    height: 3rem;
    font-family: 'Roboto', sans-serif;
}

textarea {
    border: 0px !important;
    border-radius: 10px !important;
    background-color: #ecf0f1 !important;
    width: 100%;
    height: 8rem;
    padding-top: 0.65rem !important;
    font-family: 'Roboto', sans-serif;
}

select {
    border: 0px !important;
    border-radius: 10px !important;
    background-color: #ecf0f1 !important;
    height: 3rem;
    font-family: 'Roboto', sans-serif;
}

.form-check-input:checked {
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}

.submit-btn {
    border: 0px !important;
    background-color: #0fbcf9;
    color: #ffffff;
    width: 100%;
    height: 3rem;
    font-family: 'Roboto', sans-serif;
}