html {
    background-color: #ffffff;
}

body {
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #636e72;
    font-size: 1.2rem;
}

a {
    font-family: 'Montserrat', sans-serif;
}

input {
    border: 0px !important;
    border-radius: 10px !important;
    background-color: #ecf0f1 !important;
    height: 3rem;
    font-family: 'Montserrat', sans-serif;
}

textarea {
    border: 0px !important;
    border-radius: 10px !important;
    background-color: #ecf0f1 !important;
    width: 100%;
    height: 8rem;
    padding-top: 0.65rem !important;
    font-family: 'Montserrat', sans-serif;
}

select {
    border: 0px !important;
    border-radius: 10px !important;
    background-color: #ecf0f1 !important;
    height: 3rem;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (min-width: 767px) {
    p {
        font-size: 1.4rem;
    }
}

.style-col-limiter {
    max-width: 50rem;
}

.form-check-input:checked {
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}

.form-check-label {
    font-family: 'Montserrat', sans-serif;
}

.submit-btn {
    border-radius: 10px !important;
    width: 100%;
    height: 3rem;
    font-family: 'Montserrat', sans-serif;
}