html {
    background-color: #ffffff;
}

body {
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #636e72;
    font-size: 1.2rem;
}

li:not([class="nav-item"]) {
    font-family: 'Montserrat', sans-serif;
    color: #636e72;
    font-size: 1rem;
}

a {
    font-family: 'Montserrat', sans-serif;
}

figcaption {
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (min-width: 767px) {
    p {
        font-size: 1.4rem;
    }
}

.style-col-limiter {
    max-width: 50rem;
}

.style-alert-card {
    border-radius: 0;
}

.style-alert-card .card-body {
    font-family: 'Montserrat', sans-serif;
    color: #636e72;
    font-size: 1rem;
    border-left: 5px solid #e74c3c;
}

.style-resume-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 130%
}

.style-resume-container iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}