html {
    background-color: #ffffff;
}

body {
    background-color: #ffffff;
}

p {
    font-family: Roboto;
    color: #747d8c;
    font-size: 1.2rem;
}

@media only screen and (min-width: 767px) {
    p {
        font-size: 1.4rem;
    }
}

.menu-button {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 3;
    background-image: url('../img/menu.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 45px;
    height: 45px;
}

.btn-introduction {
    text-decoration: none;
    font-family: Roboto;
    color: #747d8c !important;
}

.btn-introduction:hover {
    font-size: 1.1rem;
}

.btn-icon {
    width: 1.1rem;
    height: 1.1rem;
}

.style-brand {
    font-size: 1rem;
}

.style-skill-card {
    width: 100%;
    height: 100%;
}