html {
    background-color: #ffffff;
}

body {
    background-color: #ffffff;
}

p {
    font-family: Roboto;
    color: #747d8c;
    font-size: 1.2rem;
}

@media only screen and (min-width: 767px) {
    p {
        font-size: 1.4rem;
    }
    .style-reason-card p {
        font-size: 1.2rem !important;
    }
    .style-about-text {
        font-size: 1.2rem !important;
    }
}

.menu-button {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 3;
    background-image: url('../img/menu.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 45px;
    height: 45px;
}

.btn-introduction {
    text-decoration: none;
    font-family: Roboto;
    color: #747d8c !important;
}

.btn-introduction:hover {
    font-size: 1.1rem;
}

.btn-icon {
    width: 1.1rem;
    height: 1.1rem;
}

.style-brand {
    font-size: 1rem;
}

.style-skill-card {
    width: 100%;
    height: 100%;
}

.style-skill-card-header {
    background-color: #1e90ff;
}

.style-reason-card {
    width: 100%;
    height: 100%;
}

.style-reason-card-header {
    background-color: #ff4757;
}

.style-reason-card p {
    font-size: 1rem;
}

.style-about-text {
    font-size: 1rem;
}

.style-card-link-outer {
    width: 10rem;
    height: 10rem;
}

.style-card-link {
    position: relative;
    color: #ffffff;
    border-radius: 20px;
    width: 5rem;
    height: 5rem;
}

.style-card-link-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.style-card-link-text {
    font-size: 1.1rem;
    color: #808e9b;
}

.style-footer-text {
    font-family: Roboto;
    font-size: 0.7rem;
    color: #808e9b;
}