html {
    background-color: #ffffff;
}

body {
    background-color: #ffffff;
}

p {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #747d8c;
    font-size: 1.2rem;
}

@media only screen and (min-width: 767px) {
    p {
        font-size: 1.4rem;
    }
    .style-name {
        font-size: 3rem;
    }
    .style-reason-card p {
        font-size: 1.2rem !important;
    }
    .style-about-text {
        font-size: 1.2rem !important;
    }
}

.btn-introduction {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #747d8c !important;
}

.btn-introduction:hover {
    font-size: 1.1rem;
}

.btn-icon {
    width: 1.1rem;
    height: 1.1rem;
}

.style-brand {
    font-size: 1rem;
}

.style-skill-card-outer {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.95);
}

.style-skill-card-outer ul {
    list-style-type: disc;
}

.style-figure-card-outer {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.95);
}

.style-figure-digit {
    font-size: 8rem;
    font-weight: 100;
}

.style-reason-card {
    width: 100%;
    height: 100%;
}

.style-reason-card p {
    font-size: 1rem;
}

.style-about-text {
    font-size: 1rem;
}

.style-card-link-outer {
    width: 10rem;
    height: 10rem;
}

.style-card-link {
    position: relative;
    color: #ffffff;
    border-radius: 20px;
    width: 5rem;
    height: 5rem;
}

.style-card-link-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.style-card-link-text {
    font-size: 1.1rem;
    color: #808e9b;
}