.navigation .bar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--navigation-background-color);
  backdrop-filter: blur(var(--navigation-background-blur));
  -webkit-backdrop-filter: blur(var(--navigation-background-blur));
}
.navigation .menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--navigation-background-color);
  backdrop-filter: blur(var(--navigation-background-blur));
  -webkit-backdrop-filter: blur(var(--navigation-background-blur));
  overflow-y: auto;
}
.navigation .control-panel .icon-container {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  background-color: var(--navigation-icon-background-color);
}
.navigation .control-panel .icon-container:hover svg {
  display: block;
  width: 30px;
  height: 30px;
  color: var(--navigation-icon-hover-color);
}
.navigation .control-panel .icon-container svg {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 25px;
  height: 25px;
  color: var(--navigation-icon-color);
}
.navigation .control-panel p {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--font-color);
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.navigation .button-svg {
  display: block;
  padding: 0;
}
.navigation .button-svg svg {
  display: block;
  width: 20px;
  height: 20px;
  color: var(--navigation-icon-color);
}