html {
    background-color: #ffffff;
}

body {
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-family: 'Ubuntu', sans-serif;
    color: #747d8c;
    font-size: 1.2rem;
}

a {
    font-family: 'Ubuntu', sans-serif;
    color: #0fbcf9;
}

a:hover {
    color: #ff6b81 !important;
}

@media only screen and (min-width: 767px) {
    p {
        font-size: 1.4rem;
    }
    .style-talk-card-outer p {
        font-size: 1.2rem !important;
    }
}

.style-card-link {
    position: relative;
    color: #ffffff;
    width: 3rem;
    height: 3rem;
}

.style-card-link-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}