html{
    background-color: #ffffff;
}
body{
    background-color: #ffffff;
}
@media only screen and (min-width: 1200px){
    .style-image-banner{
        width: 900px; 
        border-radius: 15px;
    }    
}
.style-image-banner-text{
    font-size: 9pt;
    color: #808e9b;
}
.style-text-greeting-container{
    background-color: #0fbcf9; 
    color: #ffffff;
}
.style-text-greeting-container-btn{
    width: 170px;
    height: 50px;
    border-width: 2px;
    text-align: center;
    line-height: 35px;
    font-weight: 500;
}
.style-certificate-card{
    
}
.style-certificate-header{
    color: #0fbcf9;
}
.style-certificate-text{
    color: #747d8c;
    font-size: 18pt;
}
.style-certificate-note{
    font-size: 11pt;
    color: #808e9b;
}
.style-contribute-open-source-container{
    background-color: #2ecc71;
    color: #ffffff;
}
.style-contribute-open-source-container-btn{
    width: 170px;
    height: 50px;
    border-width: 2px;
    text-align: center;
    line-height: 35px;
    font-weight: 500;
}
.style-skill-card{
    height: 100%;
}
.style-skill-header{
    color: #0fbcf9;
}
.style-skill-text{
    color: #747d8c;
    font-size: 18pt;
}
.style-visit-blog-container{
    background-color: #0fbcf9;
    color: #ffffff;
}
.style-visit-blog-container-btn{
    width: 170px;
    height: 50px;
    border-width: 2px;
    text-align: center;
    line-height: 35px;
    font-weight: 500;
}
.style-areas-of-interest-header{
    color: #2ecc71;
}
.style-areas-of-interest-text{
    color: #747d8c;
}