html {
    background-color: #ffffff;
}

body {
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-family: 'Ubuntu', sans-serif;
    color: #747d8c;
    font-size: 1.2rem;
}

@media only screen and (min-width: 767px) {
    p {
        font-size: 1.4rem;
    }
    .style-introduction-card-outer p {
        font-size: 1.2rem !important;
    }
    .style-reason-card p {
        font-size: 1.2rem !important;
    }
    .style-talk-card-outer p {
        font-size: 1.2rem !important;
    }
}

.btn-introduction {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #747d8c !important;
}

.btn-introduction:hover {
    color: #0fbcf9 !important;
}

.btn-icon {
    width: 1.1rem;
    height: 1.1rem;
}

.style-card-link-outer {
    width: 8rem;
    height: 8rem;
}

.style-card-link {
    position: relative;
    color: #ffffff;
    border-radius: 20px;
    width: 4rem;
    height: 4rem;
}

.style-card-link-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.style-card-link-text {
    font-size: 1rem;
    color: #808e9b;
}

.style-brand {
    font-size: 1rem;
}

.style-introduction-card-outer {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.95);
}

.style-introduction-card-outer p {
    font-size: 1rem;
}

.style-reason-card {
    width: 100%;
    height: 100%;
}

.style-reason-card p {
    font-size: 1rem;
}

.style-figure-card-outer {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.95);
}

.style-figure-digit {
    font-size: 8rem;
    font-weight: 100;
}

.style-talk-card-outer {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.95);
}

.style-talk-card-outer p {
    font-size: 1rem;
}