html {
    background-color: #ffffff;
}

body {
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #636e72;
    font-size: 1.2rem;
}

@media only screen and (min-width: 767px) {
    p {
        font-size: 1.4rem;
    }
}

.style-programming-language-color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}