input{
    border: 0px !important;
    border-radius: none;
    background-color: #ecf0f1 !important;
    height: 3rem;
}
select{
    border: 0px !important;
    border-radius: none;
    background-color: #ecf0f1 !important;
    height: 3rem;
}
.style-portfolio-heading{
    color: #747d8c;
}
.style-portfolio-note{
    font-size: 12pt;
    color: #808e9b;
}