html {
    background-color: #ffffff;
}

body {
    background-color: #ffffff;
}

input {
    border: 0px !important;
    border-radius: 10px !important;
    background-color: #ecf0f1 !important;
    height: 3rem;
}

select {
    border: 0px !important;
    border-radius: 10px !important;
    background-color: #ecf0f1 !important;
    height: 3rem;
}

.style-badge {
    background-color: #1abc9c;
}