html {
    background-color: #ffffff;
}

body {
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #636e72;
    font-size: 1.2rem;
}

a {
    font-family: 'Roboto', sans-serif;
    color: #0fbcf9;
}

input {
    border: 0px !important;
    border-radius: 10px !important;
    background-color: #ecf0f1 !important;
    height: 3rem;
    font-family: 'Roboto', sans-serif;
}

select {
    border: 0px !important;
    border-radius: 10px !important;
    background-color: #ecf0f1 !important;
    height: 3rem;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 767px) {
    p {
        font-size: 1.4rem;
    }
}

.style-card-link-outer {
    width: 10rem;
    height: 10rem;
}

.style-card-link {
    position: relative;
    color: #ffffff;
    border-radius: 30px;
    width: 6rem;
    height: 6rem;
}

.style-card-link-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.style-card-link-text {
    font-size: 1.5em;
    color: #636e72;
    font-family: 'Roboto', sans-serif;
}

.style-file-type-color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}