@font-face {
    font-family: 'lemonmilk';
    src: url('font/lemonmilk.otf');
}
.style-navbar{
    background-color: #ffffff;
}
.style-navbar-brand{
    font-family: lemonmilk; 
    font-size: 2.00rem !important;
    color: #0fbcf9 !important;
}
.style-nav-link{
    font-family: lemonmilk; 
    color: #747d8c !important;
}
.style-footer{
    font-size: 0.75rem;
    color: #808e9b;
}