@font-face {
    font-family: 'lemonmilk';
    src: url('font/lemonmilk.otf');
}
.style-navbar{
    background-color: #ffffff;
}
.style-navbar-brand{
    font-family: lemonmilk; 
    font-size: 2.00rem !important;
    color: #2f3542 !important;
}
.style-nav-link{
    font-family: lemonmilk; 
    color: #2f3542 !important;
}
.style-image-banner{
    width: 900px; 
    border-radius: 15px;
}
.style-image-banner-text{
    font-size: 9pt;
    color: #808e9b;
}
.style-text-greeting-container{
    background-color: #0fbcf9; 
    color: #ffffff;
}
.style-text-greeting-container-btn{
    width: 170px;
    height: 50px;
    border-width: 2px;
    text-align: center;
    line-height: 35px;
    font-weight: 500;
}
.style-certificate-heading{
    color: #747d8c;
}
.style-certificate-note{
    font-size: 12pt;
    color: #808e9b;
}
.style-certificate-badge{
    width: 300px;
}
.style-contribute-open-source-container{
    background-color: #2ecc71;
    color: #ffffff;
}
.style-contribute-open-source-container-btn{
    width: 170px;
    height: 50px;
    border-width: 2px;
    text-align: center;
    line-height: 35px;
    font-weight: 500;
}
.style-skill-header{
    color: #0fbcf9;
}
.style-skill-text{
    color: #747d8c;
}
.style-visit-blog-container{
    background-color: #0fbcf9;
    color: #ffffff;
}
.style-visit-blog-container-btn{
    width: 170px;
    height: 50px;
    border-width: 2px;
    text-align: center;
    line-height: 35px;
    font-weight: 500;
}
.style-areas-of-interest-header{
    color: #2ecc71;
}
.style-areas-of-interest-text{
    color: #747d8c;
}
html{
    background-color: #ffffff;
}
body{
    background-color: #ffffff;
}