a {
    text-decoration: none;
}

@font-face {
    font-family: 'lemonmilk';
    src: url('font/lemonmilk.otf');
}

@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('font/Roboto-Regular.ttf');
}

.lm-black {
    font-family: lemonmilk;
    color: #000000;
}

.lm-white {
    font-family: lemonmilk;
    color: #ffffff;
}

.lm-red {
    font-family: lemonmilk;
    color: #ff6b81;
}

.lm-blue {
    font-family: lemonmilk;
    color: #0fbcf9;
}

.lm-orange {
    font-family: lemonmilk;
    color: #f39c12;
}

.roboto-black {
    font-family: Roboto;
    color: #000000;
}

.roboto-white {
    font-family: Roboto;
    color: #ffffff;
}

.roboto-gray {
    font-family: Roboto;
    color: #747d8c;
}

.roboto-blue {
    font-family: Roboto;
    color: #0fbcf9;
}

.roboto-red {
    font-family: Roboto;
    color: #ff6b81;
}

.roboto-regular-black {
    font-family: Roboto-Regular;
    color: #000000;
}

.roboto-regular-white {
    font-family: Roboto-Regular;
    color: #ffffff;
}

.roboto-regular-gray {
    font-family: Roboto-Regular;
    color: #747d8c;
}