a {
    text-decoration: none;
}

@font-face {
    font-family: 'lemonmilk';
    src: url('font/lemonmilk.otf');
}

@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('font/Roboto-Regular.ttf');
}

.lm-black {
    font-family: lemonmilk;
    color: #000000;
}

.lm-white {
    font-family: lemonmilk;
    color: #ffffff;
}

.lm-gray {
    font-family: lemonmilk;
    color: #747d8c;
}

.lm-red {
    font-family: lemonmilk;
    color: #ff6b81;
}

.lm-blue {
    font-family: lemonmilk;
    color: #0fbcf9;
}

.lm-orange {
    font-family: lemonmilk;
    color: #f39c12;
}

.roboto-black {
    font-family: Roboto;
    color: #000000;
}

.roboto-white {
    font-family: Roboto;
    color: #ffffff;
}

.roboto-gray {
    font-family: Roboto;
    color: #747d8c;
}

.roboto-blue {
    font-family: Roboto;
    color: #0fbcf9;
}

.roboto-red {
    font-family: Roboto;
    color: #ff6b81;
}

.roboto-regular-black {
    font-family: Roboto-Regular;
    color: #000000;
}

.roboto-regular-white {
    font-family: Roboto-Regular;
    color: #ffffff;
}

.roboto-regular-gray {
    font-family: Roboto-Regular;
    color: #747d8c;
}

.style-footer {
    background-color: #f9fcfb;
    font-size: 0.70rem;
    font-weight: 400;
    color: #808e9b;
}

.style-navbar {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
}

.menu-button {
    background-image: url('../img/menu.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.style-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(15px);
    overflow-x: hidden;
    /* animation: overlay-animation 0.5s; */
}

@keyframes overlay-animation {
    from {
        height: 0%;
    }
    to {
        height: 100%;
    }
}

.style-menu-container {
    margin-top: 116px;
}

@media only screen and (min-width: 768px) and (min-height: 576px) {
    .style-menu-container {
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        margin-top: 0px !important;
    }
}

.style-menu-card-link-outer {
    width: 10rem;
    height: 10rem;
}

.style-menu-card-link {
    position: relative;
    color: #ffffff;
    border-radius: 20px;
    width: 5rem;
    height: 5rem;
}

.style-menu-card-link-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.style-menu-card-link-text {
    font-size: 1.1rem;
    color: #808e9b;
}