a {
    text-decoration: none;
}

.custom-h5 {
    display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
}

.custom-h6 {
    display: block;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.style-footer {
    background-color: #f9fcfb;
    font-family: 'Roboto', sans-serif;
    font-size: 0.70rem;
    font-weight: 400;
    color: #636e72;
}

.style-navbar {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
}

.menu-button {
    background-image: url('https://res.cloudinary.com/dhv9gcew6/image/upload/v1631808754/menu_d8tib0.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.style-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(15px);
    overflow-x: hidden;
    /* animation: overlay-animation 0.5s; */
}

@keyframes overlay-animation {
    from {
        height: 0%;
    }
    to {
        height: 100%;
    }
}

.style-menu-container {
    margin-top: 116px;
}

@media only screen and (min-width: 768px) and (min-height: 576px) {
    .style-menu-container {
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        margin-top: 0px !important;
    }
}

.style-menu-card-link-outer {
    width: 10rem;
    height: 10rem;
}

.style-menu-card-link {
    position: relative;
    color: #ffffff;
    border-radius: 25px;
    width: 5rem;
    height: 5rem;
}

.style-menu-card-link-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.style-menu-card-link-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: #636e72;
}

.style-card-link-footer {
    position: relative;
    background-color: #f9fcfb;
    width: 2rem;
    height: 2rem;
}

.style-card-link-footer-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}