@font-face {
    font-family: 'lemonmilk';
    src: url('font/lemonmilk.otf');
}
.style-navbar{
    background-color: #ffffff;
}
.style-navbar-brand{
    font-family: lemonmilk; 
    font-size: 2.00rem !important;
    color: #2f3542 !important;
}
.style-nav-link{
    font-family: lemonmilk; 
    color: #2f3542 !important;
}
.style-image-banner{
    width: 900px; 
    border-radius: 15px;
}
.style-image-banner-text{
    font-size: 9pt;
    color: #808e9b;
}
.style-text-greeting-container{
    background-color: #0fbcf9; 
    color: #ffffff;
}
.style-text-greeting-container-btn{
    width: 200px;
    border-width: 2px;
    font-weight: 500;
}
html{
    background-color: #ffffff;
}
body{
    background-color: #ffffff;
}