@font-face {
    font-family: 'lemonmilk';
    src: url('font/lemonmilk.otf');
}
.style-navbar{
    background-color: #ffffff;
}
.style-navbar-brand{
    font-family: lemonmilk; 
    font-size: 2.00rem !important;
    color: #2f3542 !important;
}
.style-nav-link{
    font-family: lemonmilk; 
    color: #2f3542 !important;
}
.style-image-banner{
    width: 1024px; 
    border-radius: 15px;
}
@keyframes fade-in-animation{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}
.fade-in{
    animation-name: fade-in-animation;
    animation-duration: 4s;
}
html{
    background-color: #ffffff;
}
body{
    background-color: #ffffff;
}