a{
    text-decoration: none;
}
@font-face {
    font-family: 'lemonmilk';
    src: url('font/lemonmilk.otf');
}
.lm-red{
    font-family: lemonmilk; 
    color: #ff6b81;
}
.lm-blue{
    font-family: lemonmilk; 
    color: #0fbcf9;
}
.style-navbar{
    background-color: rgba(255, 255, 255, 0.95);
}
.style-navbar-brand{
    font-family: lemonmilk; 
    font-size: 2.00rem !important;
    color: #0fbcf9 !important;
}
.style-navbar-btn{
    border: 0px !important; 
    color: #bdc3c7 !important;
}
.style-nav-link{
    font-family: lemonmilk; 
    color: #747d8c !important;
}
.style-nav-link:hover{
    color: #0fbcf9 !important;
}
.style-footer{
    font-size: 0.70rem;
    font-weight: 400;
    color: #808e9b;
}