a {
    text-decoration: none;
}

@font-face {
    font-family: 'lemonmilk';
    src: url('font/lemonmilk.otf');
}

@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('font/Roboto-Regular.ttf');
}

.lm-black {
    font-family: lemonmilk;
    color: #000000;
}

.lm-white {
    font-family: lemonmilk;
    color: #ffffff;
}

.lm-gray {
    font-family: lemonmilk;
    color: #747d8c;
}

.lm-red {
    font-family: lemonmilk;
    color: #ff6b81;
}

.lm-blue {
    font-family: lemonmilk;
    color: #0fbcf9;
}

.lm-orange {
    font-family: lemonmilk;
    color: #f39c12;
}

.roboto-black {
    font-family: Roboto;
    color: #000000;
}

.roboto-white {
    font-family: Roboto;
    color: #ffffff;
}

.roboto-gray {
    font-family: Roboto;
    color: #747d8c;
}

.roboto-blue {
    font-family: Roboto;
    color: #0fbcf9;
}

.roboto-red {
    font-family: Roboto;
    color: #ff6b81;
}

.roboto-regular-black {
    font-family: Roboto-Regular;
    color: #000000;
}

.roboto-regular-white {
    font-family: Roboto-Regular;
    color: #ffffff;
}

.roboto-regular-gray {
    font-family: Roboto-Regular;
    color: #747d8c;
}

.style-footer {
    background-color: #f9fcfb;
    font-size: 0.70rem;
    font-weight: 400;
    color: #808e9b;
}

/* TO BE REMOVED SOON */

.style-navbar {
    background-color: rgba(255, 255, 255, 0.95);
}

.style-navbar-brand {
    font-family: lemonmilk;
    font-size: 2.00rem !important;
    color: #0fbcf9 !important;
}

.style-navbar-btn {
    border: 0px !important;
    color: #bdc3c7 !important;
}

.style-nav-link {
    font-family: lemonmilk;
    color: #808e9b !important;
}

.style-nav-link:hover {
    color: #0fbcf9 !important;
}