.theme-light {
    --background-color: rgb(255 255 255 / 100%);
    --navigation-background-color: rgb(255 255 255 / 90%);
    --heading-color: #000000;
    --sub-heading-color: #636e72;
    --text-color: #636e72;
}