@use "./pages/general";

@use "./components/button";
@use "./components/card";
@use "./components/progress";
@use "./components/text";

@use "./layout/footer";
@use "./layout/navigation";

@use "./utilities/sizes";
@use "./utilities/variables";