@use "./pages/home";

@use "./layout/button";
@use "./layout/card";
@use "./layout/footer";
@use "./layout/navigation";

@use "./utilities/backgrounds";
@use "./utilities/fonts";
@use "./utilities/sizes";
@use "./utilities/variables";