@use "./modules/background";
@use "./modules/font";
@use "./modules/icon";
@use "./modules/position";
@use "./modules/shape";
@use "./modules/variable";

// ** Home **

.home {
    h1 {
        @include font.heading($font-size: calc(1.375rem + 1.5vw), $color: #fff, $breakpoint: variable.$breakpoint-xl, $breakpoint-font-size: 2.5rem);

        margin-bottom: 0rem;
    }

    h2 {
        @include font.heading($font-size: calc(1.375rem + 1.5vw), $color: #000, $breakpoint: variable.$breakpoint-xl, $breakpoint-font-size: 2.5rem);

        margin-bottom: 1rem;
    }

    h3 {
        @include font.heading($font-size: 1.4rem, $color: #636e72, $breakpoint: null, $breakpoint-font-size: null);

        margin-bottom: 0.5rem;
    }

    p {
        @include font.regular;
    }

    .content-xs {
        max-width: 35rem;
    }

    .content-sm {
        max-width: 50rem;
    }

    .content-md {
        max-width: 65rem;
    }

    .content-lg {
        max-width: 80rem;
    }

    .background-abstract {
        @include background.image($url: "https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1675118735/jpvitan-website/backgrounds/abstract_zbcyqk.jpg", $background-size: cover);
    }

    .background-low-polygon-mountains {
        @include background.image($url: "https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1675118656/jpvitan-website/backgrounds/low-polygon-mountains_pfwc3i.jpg", $background-size: cover);
    }

    .frame {
        border: 15px solid #ecf0f1;
        border-radius: 30px;
    }

    .title-card {
        border-radius: 20px;
    }

    .reach-wrapper {
        background-position: center;
        border-radius: 0px;

        @media screen and (min-width: variable.$breakpoint-md) {
            border-radius: 40px;
        }

        .reach-card {
            @include background.blur($background-color: rgb(255 255 255 / 90%), $blur: 15px);

            border-radius: 20px;
            margin-top: 3rem;
            margin-bottom: 3rem;

            @media screen and (min-width: variable.$breakpoint-md) {
                margin-top: 10rem;
                margin-bottom: 10rem;
            }

            p {
                @include font.regular($color: #636e72);
            }

            a {
                @include font.regular($color: #3498db);
            }
        }
    }
}

// ** Navigation **

.navigation {
    button {
        display: block;
        padding: 0;

        svg {
            @include icon.svg($size: 20px, $color: var(--navigation-icon-color));
        }
    }

    .bar {
        @include position.fixed($left: 0, $right: 0, $top: 0);
        @include background.blur($background-color: var(--navigation-bar-background-color), $blur: var(--navigation-bar-background-blur));
    }

    .menu {
        @include position.fixed($left: 0, $right: 0, $top: 0, $bottom: 0);
        @include background.blur($background-color: var(--navigation-menu-background-color), $blur: var(--navigation-menu-background-blur));

        overflow-y: auto;
    }

    .bar,
    .menu {
        z-index: 1;
    }

    .control-panel {
        .icon-container {
            @include shape.square($size: 60px, $border-radius: 15px);

            background-color: var(--navigation-icon-background-color);

            &:hover {
                svg {
                    @include icon.svg($size: 30px, $color: var(--navigation-icon-hover-color));
                }
            }

            svg {
                @include position.relative($left: 50%, $top: 50%, $center: true);
                @include icon.svg($size: 25px, $color: var(--navigation-icon-color));
            }
        }

        p {
            @include font.regular;

            margin-top: 0.5rem;
            margin-bottom: 0;
        }
    }
}

// ** Footer **

footer {
    .icon-container {
        @include shape.square($size: 30px, $border-radius: 10px);

        background-color: var(--navigation-icon-background-color);

        &:hover {
            svg {
                @include icon.svg($size: 18px, $color: var(--navigation-icon-hover-color));
            }
        }

        svg {
            @include position.relative($left: 50%, $top: 50%, $center: true);
            @include icon.svg($size: 18px, $color: var(--navigation-icon-color));
        }
    }

    p {
        @include font.regular($font-size: 0.7rem);

        margin-bottom: 0;
    }
}

// ** ListCard **

.list-card {
    border-radius: 0px;

    @media screen and (min-width: variable.$breakpoint-md) {
        border-radius: 25px;
    }

    .icon-row {
        svg {
            @include icon.svg($size: 30px, $color: #fff);
        }
    }

    .title-row {
        p {
            @include font.regular($font-weight: 700, $color: #fff);
        }
    }

    .item-row {
        svg {
            @include icon.svg($size: 15px, $color: #fff);
        }

        p {
            @include font.regular($font-weight: 500, $color: #fff);

            margin-bottom: 0;
        }
    }
}

// ** NoticeCard **

.notice-card {
    background-color: #ecf0f1;
    border-radius: 20px;

    svg {
        @include icon.svg($size: 15px, $color: #636e72);
    }

    p {
        @include font.regular($color: #636e72);

        margin-bottom: 0;
    }

    a {
        @include font.regular($color: #3498db);
    }
}