@use "./pages/general";

@use "./components/button";
@use "./components/card";
@use "./components/progress";

@use "./layout/footer";
@use "./layout/navigation";

@use "./utilities/backgrounds";
@use "./utilities/fonts";
@use "./utilities/sizes";
@use "./utilities/variables";