@use "./modules/background";
@use "./modules/font";
@use "./modules/icon";
@use "./modules/position";
@use "./modules/shape";

.navigation {
    .bar {
        @include position.fixed($left: 0, $right: 0, $top: 0);
        @include background.blur($background-color: var(--navigation-background-color), $blur: var(--navigation-background-blur));
    }

    .menu {
        @include position.fixed($left: 0, $right: 0, $top: 0, $bottom: 0);
        @include background.blur($background-color: var(--navigation-background-color), $blur: var(--navigation-background-blur));

        overflow-y: auto;
    }

    .control-panel {
        .icon-container {
            @include shape.square($size: 60px, $border-radius: 15px);

            background-color: var(--navigation-icon-background-color);

            &:hover {
                svg {
                    @include icon.svg($size: 30px, $color: var(--navigation-icon-hover-color));
                }
            }

            svg {
                @include position.relative($left: 50%, $top: 50%, $center: true);
                @include icon.svg($size: 25px, $color: var(--navigation-icon-color));
            }
        }

        p {
            @include font.regular;

            margin-top: 0.5rem;
            margin-bottom: 0;
        }
    }

    .button-svg {
        display: block;
        padding: 0;

        svg {
            @include icon.svg($size: 20px, $color: var(--navigation-icon-color));
        }
    }
}