@use "./modules/background";
@use "./modules/font";
@use "./modules/icon";
@use "./modules/position";
@use "./modules/shape";

.navigation {
    .bar {
        @include position.fixed($left: 0, $right: 0, $top: 0);
        @include background.blur($background-color: var(--navigation-background-color), $blur: var(--navigation-background-blur));

        z-index: 1;
    }

    .menu {
        @include position.fixed($left: 0, $right: 0, $top: 0, $bottom: 0);
        @include background.blur($background-color: var(--navigation-background-color), $blur: var(--navigation-background-blur));

        overflow-y: auto;
        z-index: 1;
    }

    .control-panel {
        .icon-container {
            @include shape.square($size: 60px, $border-radius: 15px);

            background-color: var(--navigation-icon-background-color);

            &:hover {
                svg {
                    @include icon.svg($size: 30px, $color: var(--navigation-icon-hover-color));
                }
            }

            svg {
                @include position.relative($left: 50%, $top: 50%, $center: true);
                @include icon.svg($size: 25px, $color: var(--navigation-icon-color));
            }
        }

        p {
            @include font.regular;

            margin-top: 0.5rem;
            margin-bottom: 0;
        }
    }

    .button-svg {
        display: block;
        padding: 0;

        svg {
            @include icon.svg($size: 20px, $color: var(--navigation-icon-color));
        }
    }
}

.home {
    h1 {
        @include font.heading($font-size: calc(1.375rem + 1.5vw), $breakpoint-font-size: 2.5rem, $color: #fff, $breakpoint: 1200px);

        margin-bottom: 0;
    }

    h2 {
        @include font.heading($font-size: calc(1.375rem + 1.5vw), $breakpoint-font-size: 2.5rem, $breakpoint: 1200px);
    }

    h3 {
        @include font.heading($font-size: 1.2rem, $breakpoint-font-size: 1.4rem, $color: #636e72, $breakpoint: 767px);

        margin-bottom: 1rem
    }

    h4 {
        @include font.heading($font-size: 1rem, $breakpoint-font-size: null, $breakpoint: null);
    }

    p {
        @include font.regular;
    }

    .content {
        max-width: 50rem;
    }

    .main-card {
        @include background.image($url: "https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1673639335/jpvitan-website/bg-main-card_mn8m36.jpg", $background-size: cover);

        border-radius: 20px;
    }
}