@use "../utilities/mixins";

.background-transparent {
    background: transparent;
}

.background-color-black {
    background-color: #000;
}

.background-color-clouds {
    background-color: #ecf0f1;
}

.background-color-peter-river {
    background-color: #3498db;
}

.background-image-low-polygon-mountains {
    @include mixins.background-image($url: "https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1675118656/jpvitan-website/backgrounds/low-polygon-mountains_pfwc3i.jpg");
}

.background-image-wavy-abstract {
    @include mixins.background-image($url: "https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1675852937/jpvitan-website/backgrounds/wavy-abstract_knmpgf.jpg");
}