.font-figure-small {
    font-size: 1.4rem;
}

.font-figure-big {
    font-size: 4rem;
}

.font-color-white {
    color: #fff;
}

.font-color-peter-river {
    color: #3498db;
}

.font-color-amethyst {
    color: #9b59b6;
}