@use "../utilities/colors";

.background-color {
    --background-alpha: 1;
}

.background-color-black {
    background-color: rgba(colors.$black, var(--background-alpha));
}

.background-color-seashell {
    background-color: rgba(colors.$seashell, var(--background-alpha));
}

.background-color-frosted {
    --background-alpha: 0.8;
    backdrop-filter: blur(25px);
}

.background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background-image-mountain {
    background-image: url("https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1675118656/jpvitan-website/backgrounds/low-polygon-mountains_pfwc3i.jpg");
}

.background-image-abstract {
    background-image: url("https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1675852937/jpvitan-website/backgrounds/wavy-abstract_knmpgf.jpg");
}