.background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background-image-mountain {
    background-image: url("https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1675118656/jpvitan-website/backgrounds/low-polygon-mountains_pfwc3i.jpg");
}

.background-image-abstract {
    background-image: url("https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1675852937/jpvitan-website/backgrounds/wavy-abstract_knmpgf.jpg");
}

.background-color-black {
    background-color: #000;
}

.background-color-seashell {
    background-color: #ecf0f1;
}