@use "../utilities/colors";

.button-pill,
.button-capsule,
.button-plain {
    font-weight: 600;
}

.button-pill,
.button-capsule {
    border-radius: 20px;
}

.button-pill-blue {
    background-color: colors.$blue;
    color: colors.$white;

    &:hover {
        background-color: colors.$blue;
        color: colors.$black;
    }
}

.button-pill-seashell {
    background-color: colors.$seashell;
    color: colors.$blue;

    &:hover {
        background-color: colors.$seashell;
        color: colors.$black;
    }
}

.button-plain-blue {
    color: colors.$blue;

    &:hover {
        color: colors.$black
    }
}