@use "../utilities/colors";

.button-icon {
    display: block;
    padding: 0;

    svg {
        display: block;
        width: 20px;
        height: 20px;
    }
}

.button-icon-black {
    svg {
        color: colors.$black;
    }
}

.button-pill,
.button-capsule,
.button-plain {
    font-weight: 600;
}

.button-pill,
.button-capsule {
    border-radius: 20px;
}

.button-pill-blue {
    background-color: colors.$blue;
    color: colors.$white;

    &:hover {
        background-color: colors.$blue;
        color: colors.$black;
    }
}

.button-pill-seashell {
    background-color: colors.$seashell;
    color: colors.$blue;

    &:hover {
        background-color: colors.$seashell;
        color: colors.$black;
    }
}

.button-plain-blue {
    color: colors.$blue;

    &:hover {
        color: colors.$black
    }
}