.button {
    font-weight: 600;
    border-radius: 20px;
}

.button-color-blue {
    background-color: #3498db;
    color: #fff;

    &:hover {
        background-color: #3498db;
        color: #000;
    }
}

.button-color-white {
    background-color: #fff;
    color: #3498db;

    &:hover {
        background-color: #fff;
        color: #000;
    }
}

.button-color-seashell {
    background-color: #ecf0f1;
    color: #3498db;

    &:hover {
        background-color: #ecf0f1;
        color: #000;
    }
}