@use "../utilities/mixins";
@use "../utilities/variables";

.card-basic {
    border-radius: 25px;
    height: 100%;
}

.card-list {
    border-radius: 0;

    @media screen and (min-width: variables.$breakpoint-md) {
        border-radius: 25px;
    }

    .icon-row {
        svg {
            display: block;
            width: 30px;
            height: 30px;
            color: #fff;
        }
    }

    .title-row {
        p {
            font-weight: 700;
            color: #fff;
        }
    }

    .item-row {
        svg {
            display: block;
            width: 15px;
            height: 15px;
            color: #fff;
        }

        p {
            color: #fff;
            margin-bottom: 0;
        }
    }
}

.card-app {
    border-radius: 0;

    .icon {
        border-radius: 13px;
    }
}