.text-color-blue {
    color: #3498db;
}

.text-color-white {
    color: #fff;
}

.text-color-amethyst {
    color: #9b59b6;
}

.text-figure-small {
    font-size: 1.4rem;
}

.text-figure-big {
    font-size: 4rem;
}

.text-notice-small {
    font-size: 0.8rem;
}