.theme-light {
    --navigation-bar-background-color: transparent;
    --navigation-menu-background-color: rgb(255 255 255 / 80%);
    --navigation-icon-background-color: #ecf0f1;
    --navigation-icon-color: #000;
    --navigation-icon-hover-color: #3498db;
    --heading-font-weight: 700;
    --heading-font-color: #000;
    --font-family: 'Montserrat', sans-serif;
    --font-size: 1rem;
    --font-weight: 500;
    --font-color: #636e72;
}