@use "../utilities/mixins";

.navigation {
    .bar {
        @include mixins.position-fixed($left: 0, $right: 0, $top: 0);

        background-color: var(--navigation-bar-background-color);
    }

    .menu {
        @include mixins.page-regular;

        background-color: var(--navigation-menu-background-color);
        backdrop-filter: blur(var(--navigation-menu-background-blur));
        -webkit-backdrop-filter: blur(var(--navigation-menu-background-blur));
    }

    .bar,
    .menu {
        z-index: 1;
    }

    .control-panel {
        .icon-container {
            @include mixins.shape-square($size: 60px, $border-radius: 15px);

            background-color: var(--navigation-icon-background-color);

            svg {
                display: block;
                width: 25px;
                height: 25px;
                color: var(--navigation-icon-color);
            }

            &:hover {
                svg {
                    display: block;
                    width: 30px;
                    height: 30px;
                    color: var(--navigation-icon-hover-color);
                }
            }
        }

        p {
            margin-top: 0.5rem;
            margin-bottom: 0;
        }
    }
}