@mixin blur($background-color, $blur) {
    background-color: $background-color;
    backdrop-filter: blur($blur);
    -webkit-backdrop-filter: blur($blur);
}

@mixin image($url, $background-repeat: null, $background-size: null, $background-position: null) {
    background-image: url($url);
    background-repeat: $background-repeat;
    background-size: $background-size;
    background-position: $background-position;
}