@mixin regular($font-family: var(--font-family), $font-size: var(--font-size), $font-weight: var(--font-weight), $color: var(--font-color)) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}